<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Park</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
        <style>
            .navbar-nav .nav-link {
                margin-right: 40px; /* Add margin to the right of each link */
               
            }
            .navbar {
                justify-content: center; /* Center the navbar items */
            }
        </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/location/">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dinging">Dinging</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/time">Ticket And Time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Logout</a>
              </li>
              
            
          </ul>
        </div>
      </nav>
      </nav>
      {% block body_block %}
      {% endblock %}
    
</body>
</html>