<!DOCTYPE html>
{% extends "testapp/base.html" %}
{% block body_block %}
     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .first h1{
        margin-top: 20px;
        text-align: center;
        
    }
    .first p{
        margin-top: 20px;
        color: cornflowerblue;
        font-style: italic;
        text-align: center;
    }

</style>

<body>
    <h1>Wellocme</h1>
    <div class="jumbotron">
        <div class="first" >
        <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_0,w_1500,h_584,r_0,c_crop/q_80,w_1600,dpr_1,f_auto,fl_progressive,c_limit/wonderla-amusement-parks-resort/Wonderla_Summer_Banner_1500_x_584_Pxl-Hyd_hq6b8v" alt="">
        <h1>WONDERLA HYDERABAD</h1>
        <h1>A portal to infinite joy!</h1>
        <p > <strong>
            The landscape of the City of Pearls is studded with treasures all around. One such gem that brightly illuminates the lives of its citizens is Wonderla Hyderabad!
</strong>
        </p>
        <p><strong>
            Shining the light of ceaseless amusement and thrills, Wonderla offers fun like never before! 
        </strong></p>
    </div>
    </div>
    {% endblock %}
</body>

</html>